version: 2.1

orbs:
  node: circleci/node@5.0.2
  codecov: codecov/codecov@3.2.2
jobs:
  test:
    executor: node/default
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - run:
          name: Check npm version
          command: npm -v
      - run:
          name: Check jest version
          command: npx jest --version
      - run:
          name: Run unit tests
          command: npm run test


workflows:
  build-main:
    jobs:
      - test
